/* Normalize */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Root */
:root{
  /* Primary */
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
/* Neutral */
--Dark-gray: hsl(0, 0%, 59%);
}
@font-face {
  font-family: 'Kumbh Sans';
  src: url(font/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}
/* Components */
body{
  min-height: 100vh;
  font-family: 'Kumbh Sans';
  display: grid;
  grid-template-rows: 1fr 5%;
}
h1{
  opacity: 0;
  position: absolute;
}
/* Page Style */
main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 
  url(images/bg-pattern-top.svg) 125% 200% no-repeat,
  url(images/bg-pattern-bottom.svg)-25% -75% no-repeat
  var(--Dark-cyan);
}
section{
  display: grid;
  grid-template-rows: 1fr 75px ;
  place-items: center;
  width: 335px;
  height: 400px;
  background: url(images/bg-pattern-card.svg) no-repeat white;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--Dark-grayish-blue);
}
figure{
  text-align: center;
}
figure img{
  margin: 40px 0 20px;
  border: 5px solid white;
  border-radius: 50%;
}
figure h2{
  color: var(--Very-dark-desaturated-blue);
}
figure h2 span{
  font-weight: 400;
  margin-left: 10px;
  color: var(--Dark-gray);
  font-size: smaller;
}
figure p{
  color: var(--Dark-gray);
  margin-top: 10px;
}
section>div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
}
section>div:first-of-type p{
  display: flex;
  flex-direction: column;
  align-items: center;
}
section>div:first-of-type p span:first-of-type{
  color: var(--Very-dark-desaturated-blue);
  font-size: larger;
  font-weight: bold;
}
section>div:first-of-type p span:nth-of-type(2){
  color: var(--Dark-gray);
  font-size: smaller;
}
@media (min-width: 768px) {
  main{
    background-position-x: -60%, 150%;
    background-position-y: 200%, -140%;
  }
}